div{
    height: 100px;
    width: 100px;
    background-color: burlywood;
    border: dotted black;
    position: relative;
    top: 200px;
    left: 200px;
    transition-property:all ;
    transition-duration: 2s;
    transition-timing-function:ease-in-out;
    transition-delay: 2s;

}
div:hover{
    background-color: red;
    transform: scale(2);
    transform:skew(90deg);
}
div:active{
    background-color: black;
}                                       