*{
    padding 0%;
    margin: 0%;
    color: white;
}
#nav{
    background-color: black;
    height: 50px;
    width: 450%;
    font-size: 25px;   
    padding-top: 0;
}
button{
  background-color:#f08804;
  size: 10px;

}
#logo{
color: yellow;
}
a{
    margin-right: 100px;
    text-decoration: none;
}
.contentArea{
    padding: 25px;
    margin: 25px;
    height: 100px;
    width: 100px;
    border: 5px solid black;

    background-color:rgba(0,255,0 ,1);
    display: inline-block;

}
#c{
    height:600px;
}
footer{
   background-color: black;
   text-align: center;
}
