
           
       p{
        color:blueviolet;
       }
       button{
        color:chocolate;
       }
      
       body{
 background-color: whitesmoke;
       }
       p{
        text-align:start;
       }
      h1 {
        font-style: italic;
        text-align: center;

        text-decoration: green dashed overline;
        text-emphasis-color: rgb(255, 165, 0)
        ;

       }
       a{
        text-decoration: none;
       }
       label{
        text-align:center
       }
      
       #h2{
        text-align: justify;
        text-align: right;
        font-weight: lighter;
        color: black;
        font-style: italic;
        font-size: xx-large; 
       }
       img{
        max-width: ;

       }
p{
      font-family:Georgia, 'Times New Roman', Times, serif;
      color:rgb(51, 7, 7);
      text-align: justify,center;
      font-size: 20px;
    
      line: height 2px;
      text-transform: lowercase;
}
#1{
      height: 500px;
      width: 200px;
      background-color: beige;
  
}
#2{
   height: 100px;
      width: 100px;
      background-color: red;
      border-radius: 50%;
}
#3{
      height: 100px;
         width: 100px;
         background-color:yellow;
         border-radius: 50%;
   }
   #4{
      height: 100px;
         width: 100px;
         background-color:green;
         border-radius: 50%;
   }